In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
sns.set(color_codes=True)
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

In [4]:
data = pd.read_csv('Heart Disease data.csv')

In [5]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

    age

sex

chest pain type (4 values)

resting blood pressure

serum cholestoral in mg/dl

fasting blood sugar > 120 mg/dl

resting electrocardiographic results (values 0,1,2)

maximum heart rate achieved

exercise induced angina

oldpeak = ST depression induced by exercise relative to rest

the slope of the peak exercise ST segment

number of major vessels (0-3) colored by flourosopy

thal: 0 = normal; 1 = fixed defect; 2 = reversable defect

In [6]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [8]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
data.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [11]:
for i in data.columns:
    print('_____________%s_______________' %i)
    print(data[i].value_counts())

_____________age_______________
58    68
57    57
54    53
59    46
52    43
51    39
56    39
62    37
60    37
44    36
64    34
63    32
41    32
67    31
61    31
55    30
65    27
43    26
53    26
42    26
66    25
45    25
48    23
46    23
50    21
47    18
49    17
35    15
70    14
39    14
38    12
68    12
40    11
71    11
69     9
34     6
37     6
29     4
76     3
74     3
77     3
Name: age, dtype: int64
_____________sex_______________
1    713
0    312
Name: sex, dtype: int64
_____________cp_______________
0    497
2    284
1    167
3     77
Name: cp, dtype: int64
_____________trestbps_______________
120    128
130    123
140    107
110     64
150     55
138     45
128     39
125     38
160     36
112     30
132     28
118     24
108     21
135     20
124     20
145     17
134     17
152     17
170     15
122     14
100     14
136     11
180     10
126     10
142      9
115      9
105      9
146      8
94       7
148      7
178      7
144      6
102      6
200      4
123      4
154      4
117      4
114      4
165      4
174      3
101      3
104      3
129      3
106      3
172      3
192      3
156      3
155      3
164      3
Name: trestbps, dtype: int64
_____________chol_______________
234    21
204    21
197    19
212    18
254    17
       ..
242     3
241     3
215     3
210     3
126     3
Name: chol, Length: 152, dtype: int64
_____________fbs_______________
0    872
1    153
Name: fbs, dtype: int64
_____________restecg_______________
1    513
0    497
2     15
Name: restecg, dtype: int64
_____________thalach_______________
162    35
160    31
163    29
152    28
173    28
       ..
177     3
167     3
113     3
195     3
184     3
Name: thalach, Length: 91, dtype: int64
_____________exang_______________
0    680
1    345
Name: exang, dtype: int64
_____________oldpeak_______________
0.0    329
1.2     58
1.0     51
0.6     47
0.8     44
1.4     44
1.6     37
0.2     37
1.8     36
2.0     32
0.4     30
0.1     23
2.8     22
2.6     21
3.0     17
1.5     16
1.9     16
3.6     15
0.5     15
2.2     14
4.0     12
2.4     11
0.3     10
3.4     10
0.9     10
3.2      8
2.5      7
2.3      7
1.1      6
4.2      6
3.1      4
3.8      4
4.4      4
5.6      4
6.2      3
3.5      3
0.7      3
2.1      3
2.9      3
1.3      3
Name: oldpeak, dtype: int64
_____________slope_______________
1    482
2    469
0     74
Name: slope, dtype: int64
_____________ca_______________
0    578
1    226
2    134
3     69
4     18
Name: ca, dtype: int64
_____________thal_______________
2    544
3    410
1     64
0      7
Name: thal, dtype: int64
_____________target_______________
1    526
0    499
Name: target, dtype: int64

In [14]:
data.shape

(1025, 14)

In [15]:
data[data.duplicated()].value_counts()

age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
38   1    2   138       175   0    1        173      0      0.0      2      4   2     1         7
29   1    1   130       204   0    0        202      0      0.0      2      0   2     1         3
45   0    1   130       234   0    0        175      0      0.6      1      0   2     1         3
58   1    2   132       224   0    0        173      0      3.2      2      2   3     0         3
          1   125       220   0    1        144      0      0.4      1      4   3     1         3
                                                                                               ..
57   0    0   140       241   0    1        123      1      0.2      1      0   3     0         2
              128       303   0    0        159      0      0.0      2      1   2     1         2
              120       354   0    1        163      1      0.6      2      0   2     1         2
56   1    3   120       193   0    0        162      0      1.9      1      0   3     1         2
55   1    1   130       262   0    1        155      0      0.0      2      0   2     1         2
Length: 302, dtype: int64

In [18]:
df = data.drop_duplicates()

In [19]:
df.shape

(302, 14)

In [20]:
data.shape

(1025, 14)

In [21]:
for i in df.columns:
    print('_____________%s_______________' %i)
    print(df[i].value_counts())

_____________age_______________
58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
64    10
41    10
63     9
67     9
55     8
45     8
42     8
53     8
61     8
65     8
43     8
66     7
50     7
48     7
46     7
49     5
47     5
39     4
35     4
68     4
70     4
40     3
71     3
69     3
34     2
37     2
38     2
77     1
76     1
74     1
29     1
Name: age, dtype: int64
_____________sex_______________
1    206
0     96
Name: sex, dtype: int64
_____________cp_______________
0    143
2     86
1     50
3     23
Name: cp, dtype: int64
_____________trestbps_______________
120    37
130    36
140    32
110    19
150    17
138    12
128    12
125    11
160    11
112     9
132     8
118     7
135     6
108     6
124     6
145     5
134     5
152     5
122     4
170     4
100     4
142     3
115     3
136     3
105     3
180     3
126     3
102     2
94      2
144     2
178     2
146     2
148     2
129     1
165     1
101     1
174     1
104     1
172     1
106     1
156     1
164     1
192     1
114     1
155     1
117     1
154     1
123     1
200     1
Name: trestbps, dtype: int64
_____________chol_______________
234    6
204    6
197    6
212    5
254    5
      ..
278    1
281    1
284    1
290    1
564    1
Name: chol, Length: 152, dtype: int64
_____________fbs_______________
0    257
1     45
Name: fbs, dtype: int64
_____________restecg_______________
1    151
0    147
2      4
Name: restecg, dtype: int64
_____________thalach_______________
162    11
160     9
163     9
152     8
173     7
       ..
129     1
128     1
127     1
124     1
71      1
Name: thalach, Length: 91, dtype: int64
_____________exang_______________
0    203
1     99
Name: exang, dtype: int64
_____________oldpeak_______________
0.0    98
1.2    17
1.0    14
0.6    14
0.8    13
1.4    13
0.2    12
1.6    11
1.8    10
2.0     9
0.4     9
0.1     7
2.6     6
2.8     6
3.0     5
1.5     5
1.9     5
0.5     5
3.6     4
2.2     4
3.4     3
0.3     3
4.0     3
0.9     3
2.4     3
1.1     2
2.5     2
3.2     2
2.3     2
4.2     2
3.1     1
1.3     1
3.5     1
2.9     1
6.2     1
4.4     1
0.7     1
5.6     1
3.8     1
2.1     1
Name: oldpeak, dtype: int64
_____________slope_______________
2    141
1    140
0     21
Name: slope, dtype: int64
_____________ca_______________
0    175
1     65
2     38
3     20
4      4
Name: ca, dtype: int64
_____________thal_______________
2    165
3    117
1     18
0      2
Name: thal, dtype: int64
_____________target_______________
1    164
0    138
Name: target, dtype: int64